.UserOutput{

    width: 60%;
    padding: 50px;
    margin: auto;
    border: 3px solid springgreen;
    background-color:#e7f3db;

    text-align: center;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    
    
}